body {
    background-image: url('../images/background.webp');
    color: white;
}

h1{
    font-family: 'Lora', serif;
}

#myNav {
    color: white;
}

.vertical-center {
    margin-top: 19px;
}

.head{
    letter-spacing: 0.05em;
    color: goldenrod;
}