extends ../layouts/default

block variables
    - let currentPage = "about";

block content
    .container
        h1.head THEME - ARK

        .row
            .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.col-xxl-6.m-auto
                img.ark-image(src="images/147th.webp")
            .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.col-xxl-6(style="font-family:madefor-text,helveticaneuew01-45ligh,helveticaneuew02-45ligh,helveticaneuew10-45ligh,sans-serif;")
                p Ark, where the peregrination starts.
                p The legend of the Ark appears in the early chapters of Genesis, symbolising new beginnings, and a refuge from torrents and <br /> turmoil. Similarly, St. Joseph’s College’s inception marked a historic <br /> beginning, spanning hundreds of years. Our school has been a <br /> sanctuary to countless cohorts of Josephians. 
                p Like a strong current sweeping us away, the outside world may <br /> render us vulnerable and powerless. We may face difficulties in our <br /> social lives. We may feel insecure or lost, unable to navigate and <br /> steer through the hardships by ourselves.
                p Our school environment is specially designed to be comforting and for students. Amidst a tumultuous sea of challenges and obstacles, our alma mater provides shelter and refuge. Within the walls of our safe haven, we are protected.
                p Derived from this is the purpose of Open Day, to make us feel at <br /> home where we belong. We are truly safe and sound, inside -
                p Our Home, <br /> Our Refuge, <br /> Our Sanctuary, <br /> Our Shelter, Our Haven, <br /> Our Ark-
                p Where we belong. <br />
                
        
        h1.head Grand Opening of Innovation Hub and Faculty Hub

        .row 
            .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.col-xxl-6.m-auto
                img.ark-image(src="images/[OPENING] SIgning Board-01.webp")
            .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.col-xxl-6.m-auto(style="font-family:madefor-text,helveticaneuew01-45ligh,helveticaneuew02-45ligh,helveticaneuew10-45ligh,sans-serif;")
                p The construction of the Innovation Hub and Faculty Hub flags the <br /> inception of the Vision 22 Project.
                p Cohorts of elite Josephians nurtured, at long last St. Joseph’s will <br /> be armed with cutting-edge facilities as we sail towards <br /> sesquicentenary.
                p The technologically-advanced Innovation Hub serves as catalysts <br /> for students’ excellence in the fields of science, technology, and art. <br /> The Faculty Hub, a centralized staff room equipped sophisticatedly, <br /> is designed to prioritize catering to teachers’ well-being.
                p A revamped working and learning environment has opened doors <br /> to endless possibilities for education at St Joseph’s College. A new <br /> epoch in the history of SJC is afoot.