extends ../layouts/default

block content
    .container
        h1.head THEME - ARK

        img.background-image(src="images/background.webp")

        .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.col-xxl-6
            img.ark-image(src="images/147th.webp")

        p Ark, where the peregrination starts.
        p The legend of the Ark appears in the early chapters of Genesis, symbolising new beginnings, and a refuge from torrents and turmoil. Similarly, St. Joseph’s College’s inception marked a historic beginning, spanning hundreds of years. Our school has been a sanctuary to countless cohorts of Josephians. 
        p Like a strong current sweeping us away, the outside world may render us vulnerable and powerless. We may face difficulties in our social lives. We may feel insecure or lost, unable to navigate and steer through the hardships by ourselves.
        p Our school environment is specially designed to be comforting and for students. Amidst a tumultuous sea of challenges and obstacles, our alma mater provides shelter and refuge. Within the walls of our safe haven, we are protected.
        p Derived from this is the purpose of Open Day, to make us feel at home where we belong. We are truly safe and sound, inside -
        p Our Home, Our Refuge, Our Sanctuary, Our Shelter, Our Haven,  Our Ark-
        p Where we belong.
