extends ../layouts/default

block variables
    - let currentPage = "compliments";

block content
    #compliments-page.container
        h1 With the compliments of

        h2 Emerald Sponsors

        .row
            .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.col-xxl-3
                img.sponsor-images(src="images/sjcoba.webp")
            .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.col-xxl-6
                img.sponsor-images(src="images/sog.webp")

        p St. Joseph's College Class of 1990
        p Mr Paul Shieh, SC (Class of 1982)

        h2 Sapphire Sponsors

        .row
            .col-12.col-sm-12.col-md-8.col-lg-6.col-xl-6.col-xxl-6
                img.sponsor-images.great-eagle-image(src="images/Great-Eagle-Group-Logo.webp")
            .col-12.col-sm-12.col-md-4.col-lg-3.col-xl-3.col-xxl-3
                img.sponsor-images(src="images/Elephant-logo.webp")
        p Dr. the Hon. Sir David Li Kwok-po 
        p Edward Leung Hei (Class of 2002) 

        h2 Ruby Sponsors

        p The Hon Ronald Arculli, GBM, CVO, GBS, OBE, JP
        p Z-Challenger Calioth Racing

        h2 Pearl Sponsors

        p St. Joseph's College Parent-Teacher Association
        p Mr Dickson Yip
        p Andy Koo
        p Pamela Wong