extends ../layouts/default

block content
    .container
        h1 With the compliments of

        h2 Emerald Sponsors

        .row
            .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.col-xxl-3
                img.sponsor-images(src="images/sjcoba.webp")
            .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.col-xxl-6
                img.sponsor-images(src="images/sog.webp")

        p St. Joseph's College Class of 1990
        p Mr Paul Shieh, SC (Class of 1982)