extends ../layouts/default

block content
    .container
        h1 Admission
        p Venue: St. Joseph's College, 7 & 26 Kennedy Road, Mid-Levels, HK
        p Admission: 13:00-19:45

        h1 Vaccination Requirement
        p All visitors are required to be fully vaccinated against COVID-19 (Received at least 2 doses*) at least 14 days before the event. 
        p *Subject to the latest pandemic policies by the Government.

        .row
            .col-12.col-sm-12.col-md-6.col-lg-4.col-xl-4.col-xxl-3
                h1 Transportation
                ul 
                    li Walking from MTR Admiralty Station or Central Station
                    li Taking Bus Route 23/40/12A
                    li Taking Minibus Route 28/1A/9
            .col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.col-xxl-6
                img.information-images(src="images/map.png")
        
        h1 Campus Map
        img.information-images(src="images/k7-floor-plan.png")
        img.information-images(src="images/k26-floor-plan.png")