extends ../layouts/default

block variables
    - let currentPage = "production";

block content
    .container
        h1.head Production
        
        .video-background
            h2.center.text-center THEME SONG
            .row.justify-content-md-center
                .col-12.col-sm-12.col-md-9.col-lg-7.col-xl-7.col-xxl-6
                    iframe(src="https://www.youtube.com/embed/BocKmnJyh3A")