extends ../layouts/default

block variables
    - let currentPage = "programme";

block content
    .container
        h1.head Programme

        .center.card.mb-3(style='max-width: 60rem;')
            h3.card-header 1300-1330: Opening Ceremony
            .card-body
                p.card-text Venue: Football Field
                p.card-text ARK's official kick-off ceremony. The Green and White Day commences as our Guest-of-Honour, Principal, and President gather together to give welcoming speeches.

        .center.card.mb-3(style='max-width: 60rem;')
            h3.card-header 1330-1345: Grand Opening of Innovation Hub and Faculty Hub
            .card-body
                p.card-text Venue: Football Field
                p.card-text After years of planning and effort put into Vision 22, the project's first stage was completed in the school year. The ceremony signifies not only the launch of the new facilities for teachers and students, but also a reveal of how Josephians are educated in a state-of-the-art fashion.
        
        .center.card.mb-3(style='max-width: 60rem;')
            h3.card-header 1345-1415: Speech Performance
            .card-body
                p.card-text Venue: Football Field
                p.card-text Every year, numerous multilingual Josphians capture awards in the Speech festivals. For their morphological talents to be recognized, they are invited to perform their prize-winning pieces. 
                
        .center.card.mb-3(style='max-width: 60rem;')
            h3.card-header 1415-1435: Drama Performance
            .card-body
                p.card-text Venue: New Hall
                p.card-text Josephian excel in acting. Our Drama Club will perform a tailor-made drama to have their talents shining on stage.

        .center.card.mb-3(style='max-width: 60rem;')
            h3.card-header 1300-1330: Opening Ceremony
            .card-body
                p.card-text Venue: Football Field
                p.card-text ARK's official kick-off ceremony. The Green and White Day commences as our Guest-of-Honour, Principal, and President gather together to give welcoming speeches.

        .center.card.mb-3(style='max-width: 60rem;')
            h3.card-header 1300-1330: Opening Ceremony
            .card-body
                p.card-text Venue: Football Field
                p.card-text ARK's official kick-off ceremony. The Green and White Day commences as our Guest-of-Honour, Principal, and President gather together to give welcoming speeches.

        .center.card.mb-3(style='max-width: 60rem;')
            h3.card-header 1300-1330: Opening Ceremony
            .card-body
                p.card-text Venue: Football Field
                p.card-text ARK's official kick-off ceremony. The Green and White Day commences as our Guest-of-Honour, Principal, and President gather together to give welcoming speeches.

        .center.card.mb-3(style='max-width: 60rem;')
            h3.card-header 1300-1330: Opening Ceremony
            .card-body
                p.card-text Venue: Football Field
                p.card-text ARK's official kick-off ceremony. The Green and White Day commences as our Guest-of-Honour, Principal, and President gather together to give welcoming speeches.

        .center.card.mb-3(style='max-width: 60rem;')
            h3.card-header 1300-1330: Opening Ceremony
            .card-body
                p.card-text Venue: Football Field
                p.card-text ARK's official kick-off ceremony. The Green and White Day commences as our Guest-of-Honour, Principal, and President gather together to give welcoming speeches.

        .center.card.mb-3(style='max-width: 60rem;')
            h3.card-header 1300-1330: Opening Ceremony
            .card-body
                p.card-text Venue: Football Field
                p.card-text ARK's official kick-off ceremony. The Green and White Day commences as our Guest-of-Honour, Principal, and President gather together to give welcoming speeches.
