nav#myNav.navbar.navbar-expand-lg.navbar-dark.bg-dark(style="background-color: #28241c;"): .container.my-1
    a.navbar-brand(href='index.html') Static Web
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target="#orderNav" aria-controls="orderNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon.navbar-light
    .collapse.navbar-collapse#orderNav
        ul.nav.navbar-nav.mr-auto
            li.nav-item: a.nav-link(href="index.html") Home
            li.nav-item: a.nav-link(href="about.html") About
            //- li.nav-item: a.nav-link(href="programme.html") Programme
            //- li.nav-item: a.nav-link(href="store.html") Store 
            //- li.nav-item: a.nav-link(href="production.html") Production
            li.nav-item: a.nav-link(href="compliments.html") Compliments
            //- li.nav-item: a.nav-link(href="gallery.html") Gallery