nav#myNav.navbar.navbar-default.navbar-expand-lg: .container.my-1
    a.navbar-brand(href='index.html'): img(src="images/pi-green.png" width="30" height="30" alt="")
    a.navbar-brand(href='index.html') Static Web
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target="#orderNav" aria-controls="orderNav" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon.navbar-light
    .collapse.navbar-collapse#orderNav
        ul.nav.navbar-nav.mr-auto
            li.nav-item: a.nav-link(href="index.html") Home
            li.nav-item: a.nav-link(href="abouts.html") Abouts